/*GENERAL COLORS*/
$third: #3d5656;
$primary: #f4c53e;
$secondary: #A9CEB2;
$white: #FFF;

/* GENERAL STYLE */
*,
body {
  box-sizing: border-box;
  margin: 0px;
  font-family: Inter;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
section,.section {
  margin: 14px 56px 0;
  padding: 16px;
}
.btn {
  height: 35px;
  padding: 10px 52px;
  align-items: center;
  border-radius: 50px;
  background: $primary;
  color: $white;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.h2{
  color: $third;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* HEADER */
header {
  margin: 60px 56px;
  .logo {
    color: $third;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  nav {
    min-width: 410px;
    padding: 16px;
    li {
      a {
        color: $third;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

/* Banner Section */
.banner {
  position: relative;
  margin: 0;
  // background-color: palegoldenrod;
  height: calc(100vh - 60px);
  .vector1 {
    position: absolute;
    left: 0px;
    top: 0px;
    // z-index: -1;
  }
  .vector2 {
    position: absolute;
    right: 0;
    top: -17%;
  }
  .slide {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 6.5%;
    .h1 {
      h1 {
        color: #606060;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

    }
    p {
      max-width: 572px;
      line-height: 1.9;
      margin-top: 76px;
      margin-bottom: 64px;
    }
  }
}

/*ABOUT US SECTION*/
.aboutus {
  .text {
    padding: 16px;
    p {
      margin: 20px 0;
    }
  }
}


/*GALLERY SECTION*/
.gallery{
  text-align: center;
  .carrousell {
    margin: 25px 0;
    .card{
      max-width: 290px;
      h3{
        color: $third;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
      }
      .card-img{
        margin-bottom: 25px;
      }
    }
  }
}

/*FOOTER*/
footer{
  background: $third;
  color: $white;
  p{
    max-width: 485px;
  }
  .socialNetworks{
    .icon{
      height: 34px;
      width: 34px;
    }
    
  }
}