/*GENERAL COLORS*/
$third: #3d5656;
$primary: #f4c53e;
$secondary: #a9ceb2;
$white: #fff;

/* GENERAL STYLE */
*,
body {
  box-sizing: border-box;
  margin: 0px;
  font-family: Inter;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
section,
.section {
  margin: 14px 56px 0;
  padding: 16px;
  @media (max-width: 768px) {
    margin: 0px;
  }
}
.btn {
  height: 35px;
  padding: 10px 52px;
  align-items: center;
  border-radius: 50px;
  background: $primary;
  color: $white;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.h2 {
  color: $third;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* HEADER */
header {
  margin: 60px 56px;
  .logo {
    color: $third;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .toggle {
    flex: 0 0 30%;
    display: block;
    text-align: right;
    button {
      width: 20px;
      height: 20px;
      border: none;
      position: relative;
      padding: 15px;
      background-color: transparent;
      outline: none !important;
      span {
        background-color: $secondary;
        height: 5px;
        width: 100%;
        position: absolute;
        border-radius: 4px;
        left: 0;
        transition: all 0.3s;
        &.s1 {
          top: 10%;
        }
        &.s2 {
          top: 40%;
          opacity: 1;
        }
        &.s3 {
          top: 70%;
        }
      }
      &.active {
        span {
          &.s1 {
            transform: rotate(-45deg) translate(-5px, 5px);
          }
          &.s2 {
            opacity: 0;
          }
          &.s3 {
            transform: rotate(45deg) translate(-8px, -8px);
          }
        }
      }
    }
  }
  nav {
    min-width: 410px;
    padding: 16px;
    &.active {
      display: flex!important;
      height: calc(100vh - 60px);
      width: 100%;
    }
    li {
      a {
        color: $third;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  @media (max-width: 768px) {
    .logo {
      flex: 0 0 70%;
    }
    .toggle {
      flex: 0 0 30%;
    }
    nav {
      background-color: $white;
      min-width: unset;

      // display: none;
    }
  }
}

/* Banner Section */
.banner {
  position: relative;
  margin: 0;
  // background-color: palegoldenrod;
  height: calc(100vh - 60px);
  .vector1 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    // z-index: -1;
  }
  .vector2 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
  }
  .slide {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 6.5%;
    .h1 {
      h1 {
        color: #606060;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    p {
      max-width: 572px;
      line-height: 1.9;
      margin-top: 76px;
      margin-bottom: 64px;
    }
  }
  /*Actividad: 
  Qué pasa si el media lo coloco en la parte de arriba?*/
  @media (max-width: 1280px) {
    // height: auto;
    min-height: 50vh;
    .slide {
      top: 10%;
      left: 10%;
    }
    .vector2 {
      bottom: -50%;
      top: 0;
    }
  }

  @media (max-width: 700px) {
    // min-height: 60vh;
    overflow: hidden;
    .slide {
      top: 0%;
    }
    .vector2 {
      top: 15%;
      bottom: unset;
      right: 25%;
    }
  }
}

/*ABOUT US SECTION*/
.aboutus {
  img {
    max-width: 100%;
    flex: 0 0 50%;
  }
  .text {
    flex: 0 0 50%;
    padding: 16px;
    p {
      margin: 20px 0;
    }
  }
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

/*GALLERY SECTION*/
.gallery {
  text-align: center;
  .carrousell {
    margin: 25px 0;
    .card {
      max-width: 290px;
      h3 {
        color: $third;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .card-img {
        margin-bottom: 25px;
      }
    }
  }
  @media (max-width: 1280px) {
    .carrousell {
      .card {
        margin-bottom: 25px;
      }
    }
  }
}

/*FOOTER*/
footer {
  background: $third;
  color: $white;
  p {
    max-width: 485px;
  }
  .socialNetworks {
    width: 200px;
    .icon {
      height: 34px;
      width: 34px;
      color: $white;
      // margin-left: 20px;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  @media (max-width: 1200px) {
    > div {
      flex-direction: column;
      text-align: center;
      .item {
        margin-bottom: 40px;
      }
    }
  }
}
