@charset "UTF-8";
/*GENERAL COLORS*/
/* GENERAL STYLE */
*,
body {
  box-sizing: border-box;
  margin: 0px;
  font-family: Inter;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section,
.section {
  margin: 14px 56px 0;
  padding: 16px;
}
@media (max-width: 768px) {
  section,
  .section {
    margin: 0px;
  }
}

.btn {
  height: 35px;
  padding: 10px 52px;
  align-items: center;
  border-radius: 50px;
  background: #f4c53e;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.h2 {
  color: #3d5656;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* HEADER */
header {
  margin: 60px 56px;
}
header .logo {
  color: #3d5656;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .toggle {
  flex: 0 0 30%;
  display: block;
  text-align: right;
}
header .toggle button {
  width: 20px;
  height: 20px;
  border: none;
  position: relative;
  padding: 15px;
  background-color: transparent;
  outline: none !important;
}
header .toggle button span {
  background-color: #a9ceb2;
  height: 5px;
  width: 100%;
  position: absolute;
  border-radius: 4px;
  left: 0;
  transition: all 0.3s;
}
header .toggle button span.s1 {
  top: 10%;
}
header .toggle button span.s2 {
  top: 40%;
  opacity: 1;
}
header .toggle button span.s3 {
  top: 70%;
}
header .toggle button.active span.s1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
header .toggle button.active span.s2 {
  opacity: 0;
}
header .toggle button.active span.s3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
header nav {
  min-width: 410px;
  padding: 16px;
}
header nav.active {
  display: flex !important;
  height: calc(100vh - 60px);
  width: 100%;
}
header nav li a {
  color: #3d5656;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  header .logo {
    flex: 0 0 70%;
  }
  header .toggle {
    flex: 0 0 30%;
  }
  header nav {
    background-color: #fff;
    min-width: unset;
  }
}

/* Banner Section */
.banner {
  position: relative;
  margin: 0;
  height: calc(100vh - 60px);
  /*Actividad: 
  Qué pasa si el media lo coloco en la parte de arriba?*/
}
.banner .vector1 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.banner .vector2 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
}
.banner .slide {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 6.5%;
}
.banner .slide .h1 h1 {
  color: #606060;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner .slide p {
  max-width: 572px;
  line-height: 1.9;
  margin-top: 76px;
  margin-bottom: 64px;
}
@media (max-width: 1280px) {
  .banner {
    min-height: 50vh;
  }
  .banner .slide {
    top: 10%;
    left: 10%;
  }
  .banner .vector2 {
    bottom: -50%;
    top: 0;
  }
}
@media (max-width: 700px) {
  .banner {
    overflow: hidden;
  }
  .banner .slide {
    top: 0%;
  }
  .banner .vector2 {
    top: 15%;
    bottom: unset;
    right: 25%;
  }
}

/*ABOUT US SECTION*/
.aboutus img {
  max-width: 100%;
  flex: 0 0 50%;
}
.aboutus .text {
  flex: 0 0 50%;
  padding: 16px;
}
.aboutus .text p {
  margin: 20px 0;
}
@media (max-width: 1200px) {
  .aboutus {
    flex-direction: column;
  }
}

/*GALLERY SECTION*/
.gallery {
  text-align: center;
}
.gallery .carrousell {
  margin: 25px 0;
}
.gallery .carrousell .card {
  max-width: 290px;
}
.gallery .carrousell .card h3 {
  color: #3d5656;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.gallery .carrousell .card .card-img {
  margin-bottom: 25px;
}
@media (max-width: 1280px) {
  .gallery .carrousell .card {
    margin-bottom: 25px;
  }
}

/*FOOTER*/
footer {
  background: #3d5656;
  color: #fff;
}
footer p {
  max-width: 485px;
}
footer .socialNetworks {
  width: 200px;
}
footer .socialNetworks .icon {
  height: 34px;
  width: 34px;
  color: #fff;
}
footer .socialNetworks .icon svg {
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  footer > div {
    flex-direction: column;
    text-align: center;
  }
  footer > div .item {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */